@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "normalize.css";

:root {
  /* theme de couleurs */
  --primary-hsl: 214 82% 56%;
  /* raccourcis pour accès direct */
  --primary: hsl(var(--primary-hsl));
  --primary-dark: color-mix(in hsl, hsl(var(--primary-hsl)) 40%, black);
  --primary-light: color-mix(in hsl, hsl(var(--primary-hsl)) 80%, white);


  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;

  line-height: 1.5;
  font-weight: 400;
  color: #333;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: content-box;
}

@page {
  size: A4 landscape;
  margin: 10mm;
}

@media print {
  body {
    -webkit-print-color-adjust: exact; /* Chrome, Safari */
    print-color-adjust: exact;         /* Firefox, Edge */
  }
}

.electric-meter-labels {
  display: inline-block;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;

  .title {
    text-align: center;
    font-size: 4mm;
    background-color: #ccc;
    margin-bottom: 5mm;
  }

  .labels {
    display: grid;
    grid-template-columns: 2fr repeat(11, 18mm);
    height: 30mm;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

    .label {
      display: grid;
      height: 100%;
      grid-template-columns: 1fr;
      grid-template-rows: 10mm 18mm;
      gap: 2mm;

      &.protection {
        width: 35mm;
        li { grid-row: span 2; }
      }

      &:nth-child(odd) {
        background-color: #eee;
      }
      &:nth-child(even) {
        background-color: #fff;
      }

      &-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--primary);
        font-size: 6mm;
      }

      &-text {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        list-style: none;
        padding: 0;
        margin: 0;
        border-top: 1px solid #ccc;
        font-size: 2.5mm;
        line-height: 3mm;
        text-align: center;
        color: var(--primary-dark);

        li {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 1mm .5mm;
          
          &.info {
            background-color: rgba(0,0,0,0.025);
            border-top: 1px solid #ddd;
            font-style: italic;
          }
        }
      }
    }
  }
}