@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "normalize.css";

:root {
  /* theme de couleurs */
  --primary-hsl: 214 82% 56%;
  /* raccourcis pour accès direct */
  --primary: hsl(var(--primary-hsl));
  --primary-dark: color-mix(in hsl, hsl(var(--primary-hsl)) 40%, black);
  --primary-light: color-mix(in hsl, hsl(var(--primary-hsl)) 80%, white);


  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;

  line-height: 1.5;
  font-weight: 400;
  color: #333;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: content-box;
}

@page {
  size: A4 landscape;
  margin: 10mm;
}

@media print {
  body {
    -webkit-print-color-adjust: exact; /* Chrome, Safari */
    print-color-adjust: exact;         /* Firefox, Edge */
  }
}

.electric-meter-labels {
  display: inline-block;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;

  .title {
    text-align: center;
    font-size: 4mm;
    background-color: #ddd;
    margin-bottom: 5mm;
  }

  .labels {
    display: grid;
    grid-template-columns: 2fr repeat(8, 20mm);
    height: 40mm;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

    .label {
      display: grid;
      height: 100%;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 2fr;
      gap: 2mm;

      &.protection {
        width: 40mm;
      }

      &:nth-child(odd) {
        background-color: #eee;
      }
      &:nth-child(even) {
        background-color: #fff;
      }

      &-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--primary);
        font-size: 8mm;
      }

      &-text {
        display: flex;
        flex-direction: column;
        gap: 1mm;
        list-style: none;
        padding: 2mm 2mm 0 2mm;
        margin: 0;
        border-top: 1px solid #ddd;
        font-size: 2.5mm;
        text-align: center;
        color: var(--primary-dark);

        li {
          &:not(:first-child) {
            padding: 1mm 0;
            border-top: 1px solid #ddd;
          }
        }
      }
    }
  }
}